/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*#experiment {
    display: hidden;
}

#out_until_start {
    opacity: 60%;
}*/

body {
    background-color: black;
}


#tableresults {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 3px;
}

#coptableresults {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 3px;
}

#coptwotableresults {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 3px;
}

#coptwotableresults td, #coptwotableresults th, #coptableresults td, #coptableresults th, #tableresults td, #tableresults th, #live_data td, #live_data th {
    border: 1px solid #111;
    padding: 8px;
}

#tableresults tr:nth-child(even){background-color: #40152a;}
#coptableresults tr:nth-child(even){background-color: #40152a;}
#coptwotableresults tr:nth-child(even){background-color: #40152a;}

#live_data tr:nth-child(even){background-color: #40152a;}

#tableresults tr:nth-child(odd){background-color: #261822;}

#coptableresults tr:nth-child(odd){background-color: #261822;}

#coptwotableresults tr:nth-child(odd){background-color: #261822;}

#tableresults tr:hover {background-color: #731630;}

#coptableresults tr:hover {background-color: #731630;}
#coptwotableresults tr:hover {background-color: #731630;}

/*
#live_data tr:hover {background-color: #731630;}
*/
#tableresults th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #731630;
    color: white;
}

#coptableresults th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #731630;
    color: white;
}

#live_data th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #731630;
    color: white;
}

.ui-btn:focus {
   
}

#meertslogo {
    margin: auto;
    display: block;
    width: 10%;
    /*float: left;*/
    /*border: 5px solid white;*/
    padding: 10px;
}

/* ==========================================================================
   From Banana Muffin Recipe CodePen
   http://codepen.io/asakasinsky/pen/zqpawR

   <!--
Copyright (c) 2017 by asakasinsky (http://codepen.io/asakasinsky/pen/zqpawR)

Permission is hereby granted, free of charge, 
to any person obtaining a copy of this software and 
associated documentation files (the "Software"), 
to deal in the Software without restriction, 
including without limitation the rights to use, 
copy, modify, merge, publish, distribute, sublicense, 
and/or sell copies of the Software, and to permit persons to 
whom the Software is furnished to do so, subject to the following conditions:


The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->
   ========================================================================== */

.recipe {
  padding: 1em;
}
.recipe__title {
  margin-top: 0;
}
.recipe__info {
  vertical-align: top;
  text-align: right;
  padding: 0 1em 0 0;
  margin: 0 1.3em 0 0;
  font-weight: bold;
  color: #454545;
  border-right: 1px dotted #EEE;
  width: 300px;
  float: left;
}
.recipe__ingredients {
  float: left;
}
.recipe-table {
  position: relative;
  padding:  1em;
  border: 1px solid #DDD;
  box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
  z-index: 10;
}

.recipe-table__cell {
  vertical-align: top;
  padding: 3px 5px;
}
.recipe__text-field {
  margin:0;
  padding: .45em 0.92em;
  font-size: 1em;
  line-height: 1.4;
  color: #555555;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #CCC;
  border-left:1px solid #CCC;
}
.recipe-table__add-row {
  margin-top: 0;
  position: relative;
  border-top: 1px solid #EEE;
  z-index: 8;
}

.recipe-table__add-row-btn {
  display: block;
  cursor: pointer;
  position: absolute;
  right: 0;
  left: 0;
  width: 4em;
  margin: 0 auto;
  -webkit-transition: all .2s easy-in;
  transition: all .2s easy-in;
  text-align: center;
  opacity: 0.5;
  color: #fff;
  border: 1px solid #16A085;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  background: #16A085;
  height: 1.5em;
  line-height: 1.5em;
}
.recipe-table__add-row-btn:hover {
  opacity: 1;
}

.recipe-table__del-row-btn {
  cursor: pointer;
  display: inline-block;
  padding: .45em 0.92em;
  font-size: 1em;
  line-height: 1.4;
  border: 1px solid #F39C12;
  color: #F39C12;
  text-decoration: none;
  transition: all .3s;
  text-align: center;
  background-color: #fff;
}
.recipe-table__del-row-btn:hover {
  background: #F39C12;
  color: #fff;
}


.drag-handler {
  width: 1.4em;
  position: relative;
  background-color: #333;
  background-image: linear-gradient(45deg, #333, #333 2px, #252525 2px, #252525 4px, #333 4px, #333 9px, #252525 9px, #252525 11px, #333 11px, #333 16px, #252525 16px, #252525 18px, #333 18px, #333 22px);
  background-size: 10px 20px; 
  cursor: move;
  border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
}

.drag-handler:active {
  background-image: linear-gradient(45deg, #bab86c, #bab86c 2px, #333 2px, #333 4px, #bab86c 4px, #bab86c 9px, #333 9px, #333 11px, #bab86c 11px, #bab86c 16px, #333 16px, #333 18px, #bab86c 18px, #bab86c 22px);
  background-size: 10px 20px; 
}













.pacing-table {
  position: relative;
  padding:  1em;
  border: 1px solid #DDD;
  box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
  z-index: 10;
}

.pacing-table__cell {
  vertical-align: top;
  padding: 3px 5px;
}
.pacing__text-field {
  margin:0;
  padding: .45em 0.92em;
  font-size: 1em;
  line-height: 1.4;
  color: #555555;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #CCC;
  border-left:1px solid #CCC;
}
.pacing-table__add-row {
  margin-top: 0;
  position: relative;
  border-top: 1px solid #EEE;
  z-index: 8;
}

.pacing-table__add-row-btn {
  display: block;
  cursor: pointer;
  position: absolute;
  right: 0;
  left: 0;
  width: 4em;
  margin: 0 auto;
  -webkit-transition: all .2s easy-in;
  transition: all .2s easy-in;
  text-align: center;
  opacity: 0.5;
  color: #fff;
  border: 1px solid #16A085;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  background: #16A085;
  height: 1.5em;
  line-height: 1.5em;
}
.pacing-table__add-row-btn:hover {
  opacity: 1;
}

.pacing-table__del-row-btn {
  cursor: pointer;
  display: inline-block;
  padding: .45em 0.92em;
  font-size: 1em;
  line-height: 1.4;
  border: 1px solid #F39C12;
  color: #F39C12;
  text-decoration: none;
  transition: all .3s;
  text-align: center;
  background-color: #fff;
}
.pacing-table__del-row-btn:hover {
  background: #F39C12;
  color: #fff;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    p:first-letter,
    div:first-letter,
    blockquote:first-letter,
    li:first-letter,
    p:first-line,
    div:first-line,
    blockquote:first-line,
    li:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
